<div class="container-fluid">
  <div class="container">

    </br>
    <h3>Torii-Tester</h3>
    </br>

    <div class="row">

      <div class="col-sm-7">
        <form id="toriiForm">

          <div class="row">
            <div class="col-sm-3">
              <label>Client ID : </label>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <input type="text" class="form-control" id="clientId" name="client_id">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Client Secret : </label>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <input type="text" class="form-control" id="clientSecret" name="client_secret">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <label>Redirect Uri : </label>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <input type="text" class="form-control" id="redirectUri" name="redirect_uri">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-block" id="authorize_link">Authorize</button>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <button type="button" name="token_button" id="token_id" class="btn btn-primary btn-block">Token Exchange</button>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <input type="text" class="form-control" id="authCode" name="auth_code" placeholder="code"> 
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <button type="button" name="credential_button" id="credential_id" class="btn btn-primary btn-block">Client Credentials</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <button type="button" name="x_credential_button" id="x_credential_id" class="btn btn-primary btn-block">X Client Credentials</button>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <input type="text" class="form-control" id="x_client_credentials_param" placeholder="user object">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <button type="button" name="refresh_button" id="refresh_id" class="btn btn-primary btn-block">Refresh Token</button>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <input type="text" class="form-control" id="refreshTokenParam" placeholder="refresh token">
              </div>
            </div>
          </div>

           <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <button type="button" class="btn btn-info btn-block" id="profile_id">PROFILE</button>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <input type="text" class="form-control" id="accessTokenParam" placeholder="Access Token">
              </div>
            </div>
          </div>

        </form>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <textarea rows="21%" class="form-control" id="accesstoken_result"></textarea>
        </div>
      </div>

    </div>
  </div>
</div>

